.linkContainer {
    display: flex;
    flex-direction: row;
}
.linkContainer > div {

    background: rgb(130, 94, 185);
    font-size:35px;
    border-radius: 1rem;
    padding:10%;
    margin:5%;
}
a {
    color:white;
    text-decoration:none;
}
a:hover {
    font-weight:bold;
    color:black;
}